body {
  background-color: black;
  color: #a0a0a0;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #212121;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  margin: 0 0.3rem;
  transition: all 0.57s ease;
}

.btn:hover {
  transform: scale(1.3);
  margin: 0 1rem;
  margin-bottom: 2rem;
  /* border-color: #ffc600; */
  box-shadow: 0 0 1rem #ffffff;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.divider {
  width: 0px;
  height: 35px;
  color: #ee0000;
  border: 1px solid #212121;
  margin: 0 0.5rem;
}

#nav-box {
  background-color: #383838;
  padding: 0.6rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  height: 45px;
}

footer {
  position: fixed;
  bottom: 1rem;
  display: flex;
  left: 50%;
  transform: translate(-50%);
}

#bg-img {
  position: fixed;
  z-index: 0;
  bottom: 0;
  right: 0;
}

.coreAim {
  font-size: large;
  font-weight: bolder;
  color: #f2f2f2;
}
